.main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-items: center; */
  /* padding-top: 7rem; */
  /* padding-bottom: 2rem; */
  /* padding-right: 4rem;
  padding-left: 4rem; */
  /* margin-bottom: 4rem; */
  min-height: 100vh;
  border-style: 1px solid;
  border-color: #919191 #ffffff #ffffff #ffffff; /* red top, green right, blue bottom and yellow left */
}

.breadcrumb {
  /* padding: 10px 16px; */
  list-style: none;
  background-color: none;
  margin-top: 84pt;
  margin-left: 0pt;
  text-align: left;
}

/* Display list items side by side */
.breadcrumb > li {
  display: inline;
  font-size: 16px;
}

/* Add a slash symbol (/) before/behind each list item */
.breadcrumb > li + li:before {
  padding: 8px;
  color: black;
  content: " \003E";
}

/* Add a color to all links inside the list */
.breadcrumb > li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
.breadcrumb > li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* Scrolling Wrapper */
.scrollingwrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  /* border: 1px solid black; */
  /* margin-top: 76pt; */
  margin-bottom: 24pt;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  gap: 8pt;
  /* background-color: hotpink; */

  .card {
    display: inline-block;
    /* border: 1px solid black;
    background-color: aquamarine; */
    /* height: 200px; */
    width: 200px;
    margin-left: 20pt;
    margin-top: 20pt;
    margin-bottom: 20pt;
  }

  .cardtext {
    padding-top: 8pt;
    padding-bottom: 8pt;
    padding-left: 4pt;
    text-wrap: balance;
    /* text-wrap: wrap; */
    line-height: 24px;
  }
}

/* intro grid */
.grid {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  gap: 16pt;
  row-gap: 8pt;
  /* margin-top: 84pt; */
  margin-left: 16pt;
  margin-right: 16pt;
  /* padding-top: 24pt; */
  /* margin-bottom: 16pt; */
  /* border: 1px solid black; */
  /* background-color: lightpink; */
}

/* intro */
.grid div:nth-child(1) {
  grid-column: 1/12;
  grid-row: 1;
  /* border: 1px solid black; */
  /* background-color: hotpink; */
  /* margin-left: 16pt;
  margin-right: 16pt; */
}

.grid div:nth-child(2) {
  grid-column: 1/12;
  grid-row: 2;
  /* border: 1px solid black; */
  /* background-color: hotpink;
  border: 1px solid black; */
}

/* grid small */
.grid_small {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: repeat(3, 1fr); */
  gap: 16pt;
  /* row-gap: 16pt; */
  /* margin-top: 84pt; */
  margin-left: 16pt;
  margin-right: 16pt;
  margin-bottom: 16pt;

  /* border: 1px solid black; */
}

.grid_small > div {
  padding-bottom: 8pt;
}

.grid_small div:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1;
  padding-bottom: 8pt;
  /* border: 1px solid black; */

  /* margin-left: 16pt;
    margin-right: 16pt; */
}

.grid_small div:nth-child(2) {
  grid-column: 2/2;
  grid-row: 1;
  /* border: 1px solid black; */

  /* border: 1px solid black; */
}

.img {
  border-radius: 20px;
  width: 100%;
  /* height: 100%; */
  height: auto;
  margin-bottom: 8pt;
}

.img1 {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.imgnbr {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  /* margin-top: 16pt; */
  margin-bottom: 16pt;
}

.content {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  gap: 16pt;
  margin-top: 16pt;
  margin-left: 16pt;
  margin-right: 16pt;
  /* padding-top: 24pt; */
  margin-bottom: 16t;
  /* border: 1px solid black;
  background-color: lightyellow; */
}

/* cards */
.content div:nth-child(1) {
  grid-column: 1/12;
  grid-row: 1;
  /* border: 1px solid black;
  background-color: yellow; */
}

.content div:nth-child(2) {
  grid-column: 2/5;
  grid-row: 2;
  border: 1px solid black;
  background-color: yellow;
}

.content div:nth-child(3) {
  grid-column: 5/8;
  grid-row: 2;
  border: 1px solid black;
  background-color: yellow;
}

.content div:nth-child(4) {
  grid-column: 8/11;
  grid-row: 2;
  border: 1px solid black;
  background-color: yellow;
}

.section {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  gap: 4pt;
  margin-top: 16pt;
  margin-left: 16pt;
  margin-right: 16pt;
  /* padding-top: 24pt; */
  /* margin-bottom: 16pt; */
  /* border: 1px solid black; */
  /* background-color: lightblue; */
}

.section > div {
  grid-column: 1/12;
  grid-row: 1;
  /* border: 1px solid black; */
  /* background-color: yellow; */
  text-align: left;
  border-bottom: 1px solid blue;
  font-size: 1.25rem;
  line-height: 1.083;

  /* margin-left: 16pt; */
}

.sectioncopy {
  font-size: 1rem;
  /* border: 1px solid black; */
  margin-left: 16pt;
  margin-right: 16pt;
  padding-top: 8pt;
  /* padding-bottom: 8pt; */
  margin-bottom: 16pt;
}

.sectionText {
  /* padding: 10pt; */
  padding-right: 10pt;
  padding-left: 0pt;
  padding-top: 10pt;
  padding-bottom: 10pt;
}

.figure {
  /* display: flex;
  flex-flow: column;
  border: thin #c0c0c0 solid;
  border-radius: 20px;
  gap: 4pt;
  margin-top: 16pt;
  margin-left: 16pt;
  margin-right: 16pt;
  justify-content: center; */
}

.imgFig {
  /* max-width: 100%;
  height: auto; */
  /* flex: 1 1 auto; */
  /* object-fit: cover; */
  /* padding-left: 16pt;
  padding-right: 16pt; */
  /* justify-content: center; */
  border-radius: 20px;
}

.figCap {
  text-align: left;
  /* padding-left: 16pt;
  padding-right: 16pt; */
  font-style: italic;
}

/* .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  row-gap: 10pt;
  margin-left: 16pt;
  margin-right: 16pt;
} */

/* .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  row-gap: 10pt;
  margin-left: 16pt;
  margin-right: 16pt;
} */

.container_grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  row-gap: 10pt;
  margin-left: 16pt;
  margin-right: 16pt;
}

.items {
  /* margin-left: 16pt;
  margin-right: 16pt; */
  max-width: 100%;
  height: auto;
  /* border: 1px solid blue;
  background-color: pink; */
}

/* small tablet styles */
@media screen and (min-width: 620px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 24pt;
    /* row-gap: 8pt; */
    /* margin-top: 84pt; */
    margin-left: 24pt;
    margin-right: 24pt;
    /* padding-top: 24pt; */
    /* margin-bottom: 16pt; */
    /* border: 1px solid black; */
    /* background-color: lightpink; */
  }

  /* intro */
  .grid div:nth-child(1) {
    grid-column: 1/12;
    grid-row: 1;
    /* border: 1px solid black; */
    /* background-color: hotpink; */
    /* margin-left: 16pt;
    margin-right: 16pt; */
  }

  .grid div:nth-child(2) {
    grid-column: 1/12;
    grid-row: 2;
    /* border: 1px solid black; */
    /* background-color: hotpink;
    border: 1px solid black; */
  }

  .img {
    border-radius: 20px;
    width: 100%;
    margin-bottom: 24pt;
  }

  .imgnbr {
    width: 100%;
    /* margin-top: 16pt; */
    margin-bottom: 24pt;
  }

  .img1 {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }

  .img3 {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    /* border-radius: 20px;
    width: 100%;
    margin-bottom: 24pt; */
    /* float: right;
    width: 270px;
    height: 270px;
    border-radius: 20px; */
    /* margin-left: 50px; */
  }

  .content {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 16pt;
    margin-top: 16pt;
    margin-left: 24pt;
    margin-right: 24pt;
    /* padding-top: 24pt; */
    margin-bottom: 16pt;
    /* border: 1px solid black;
    background-color: lightyellow; */
  }

  .section {
    margin-left: 24pt;
    margin-right: 24pt;
  }

  .section > div {
    grid-column: 1/12;
    grid-row: 1;
    /* border: 1px solid black; */
    /* background-color: yellow; */
    text-align: left;
    border-bottom: 1px solid blue;
    font-size: 1.25rem;
    line-height: 1.083;

    /* margin-left: 16pt; */
  }

  .sectioncopy {
    margin-left: 24pt;
    margin-right: 24pt;
  }
}

@media screen and (min-width: 820px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    /* gap: 24pt; */
    gap: 16pt;
    row-gap: 8pt;
    /* row-gap: 8pt; */
    /* margin-top: 84pt; */
    margin-left: 48pt;
    margin-right: 48pt;
    /* padding-top: 24pt; */
    /* margin-bottom: 16pt; */
    /* border: 1px solid black; */
    /* background-color: lightpink; */
  }

  .img {
    border-radius: 20px;
    /* width: 100%; */
    /* width: 70%; */
    width: 60%;
    height: auto;
    border: thin #c0c0c0 solid;
    text-align: right;
  }

  .figure {
    /* display: flex;
  flex-flow: column;
  border: thin #c0c0c0 solid;
  border-radius: 20px;
  gap: 4pt;
  margin-top: 16pt;
  margin-left: 16pt;
  margin-right: 16pt;
  justify-content: center; */
    /* border: 1px solid black; */
  }

  .imgFig {
    /* max-width: 100%;
  height: auto; */
    /* flex: 1 1 auto; */
    /* object-fit: cover; */
    /* padding-left: 16pt;
  padding-right: 16pt; */
    /* justify-content: center; */
    border-radius: 20px;
  }

  .figCap {
    text-align: left;
    /* padding-left: 16pt;
  padding-right: 16pt; */
    font-style: italic;
    /* border: 1px solid black; */
  }

  .section {
    /* margin-left: 48pt;
    margin-right: 48pt; */
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 4pt;
    margin-top: 16pt;
    margin-left: 24pt;
    margin-right: 24pt;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .sectioncopy {
    /* margin-left: 48pt;
    margin-right: 48pt;
    padding-top: 58pt; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 24pt;
    margin-right: 24pt;
    padding-top: 0;
    margin-top: 0;

    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    /* border: 1px solid red; */
  }

  .sectionText {
    /* padding: 10pt; */
    /* margin-right: 20pt; */
    /* margin-top: 0; */
    /* padding-right: 10pt; */
    /* padding-left: 0pt; */
    /* padding-top: 10pt; */
    /* padding-bottom: 10pt; */
    /* width: 450px; */
    /* border: 1px solid black; */
    width: 70%;
    padding-right: 30pt;
    padding-top: 0;
  }

  .container {
    display: flex;
    /* flex-direction: row-reverse; */
    align-items: flex-start;
    padding-top: 10pt;
    /* border: 1px solid red; */
    /* column-gap: 10pt; */
  }

  .container_grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    row-gap: 10pt;
    margin-left: 16pt;
    margin-right: 16pt;
  }
}

/* lg tablets & laptop */
@media screen and (min-width: 1024px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 16pt;
    row-gap: 8pt;
    /* margin-top: 84pt; */
    margin-left: 48pt;
    margin-right: 48pt;
    /* padding-top: 24pt; */
    /* margin-bottom: 16pt; */
    /* border: 1px solid black; */
    /* background-color: lightpink; */
  }

  .container_grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    row-gap: 20pt;
    /* column-gap: 20pt; */
    /* margin-left: 16pt;
    margin-right: 16pt; */
    margin-left: 48pt;
    margin-right: 48pt;
    /* border: 1px solid Black; */
  }

  .items {
    /* margin-left: 16pt;
  margin-right: 16pt; */
    max-width: 100%;
    height: auto;
    /* border: 1px solid blue;
  background-color: pink; */
  }

  .img {
    /* border-radius: 20px;
    width: 100%;
    margin-bottom: 24pt; */
    /* float: right; */
    /* width: 270px;
    height: 270px;
    border-radius: 20px;
    margin-left: 50px; */
    width: 60%;
    height: auto;
  }

  .img1 {
    /* border-radius: 20px;
    width: 100%;
    margin-bottom: 24pt; */
    float: right;
    width: 350px;
    height: 150px;
    border-radius: 20px;
    margin-left: 50px;
  }

  .img3 {
    /* border-radius: 20px;
    width: 100%;
    margin-bottom: 24pt; */
    float: right;
    width: 270px;
    height: 270px;
    border-radius: 20px;
    /* margin-left: 50px; */
  }

  .imgnbr {
    /* width: 100%; */
    /* margin-top: 16pt; */
    /* margin-bottom: 24pt; */
    float: right;
    width: 200px;
    height: 300px;
    border-radius: 20px;
    margin-left: 50px;
  }

  .clearfix {
    overflow: auto;
  }

  .content {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 16pt;
    margin-top: 16pt;
    margin-left: 48pt;
    margin-right: 48pt;
    /* padding-top: 24pt; */
    margin-bottom: 16pt;
    /* border: 1px solid black;
    background-color: lightyellow; */
  }

  .section {
    margin-left: 48pt;
    margin-right: 48pt;
  }

  .sectioncopy {
    margin-left: 48pt;
    margin-right: 48pt;
  }

  .sectionText {
    /* padding: 10pt; */
    /* margin-right: 20pt; */
    /* margin-top: 0; */
    /* padding-right: 10pt; */
    /* padding-left: 0pt; */
    /* padding-top: 10pt; */
    /* padding-bottom: 10pt; */
    /* width: 450px; */
    /* border: 1px solid black; */
    width: 70%;
    padding-right: 30pt;
    padding-top: 0;
  }

  /* grid small */
  .grid_small {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    column-gap: 24pt;
    /* row-gap: 16pt; */
    /* margin-top: 84pt; */
    /* margin-left: 16t;
    margin-right: 16pt; */
    margin-bottom: 16pt;

    /* border: 1px solid black; */
  }

  .grid_small > div {
    /* padding-bottom: 8pt; */
  }

  .grid_small div:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1;
    /* padding-bottom: 8pt; */
    /* border: 1px solid black; */

    /* margin-left: 16pt;
    margin-right: 16pt; */
  }

  .grid_small div:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1;
    /* border: 1px solid black; */

    /* border: 1px solid black; */
  }

  .grid_small div:nth-child(3) {
    grid-column: 3/4;
    grid-row: 1;
    /* border: 1px solid black; */

    /* border: 1px solid black; */
  }
}

/* desktop styles */
@media screen and (min-width: 1200px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    /* gap: 16pt; */
    /* row-gap: 8pt; */
    /* margin-top: 84pt; */
    margin-left: 150px;
    margin-right: 150px;
    /* padding-top: 24pt; */
    /* margin-bottom: 16pt; */
    /* border: 1px solid black; */
    /* background-color: lightpink; */
  }

  .grid div:nth-child(1) {
    grid-column: 1/12;
    grid-row: 1;
    /* border: 1px solid black; */
    /* background-color: hotpink; */
    /* margin-left: 16pt;
    margin-right: 16pt; */
  }

  /* .grid div:nth-child(2) {
    grid-column: 5/11;
    grid-row: 1;
    /* border: 1px solid black; */
  /* background-color: hotpink;
    border: 1px solid black; */

  /* grid small */
  .grid_small {
    display: grid;
    grid-template-columns: repeat(11, 1fr);

    /* margin-left: 150px;
    /* margin-right: 150px; */
    margin-bottom: 16pt;

    /* border: 1px solid black; */
  }

  .grid_small > div {
    /* padding-bottom: 8pt; */
  }

  .grid_small div:nth-child(1) {
    grid-column: 2/5;
    grid-row: 1;
    /* padding-bottom: 8pt; */
    /* border: 1px solid black; */

    /* margin-left: 16pt;
  margin-right: 16pt; */
  }

  .grid_small div:nth-child(2) {
    grid-column: 5/8;
    grid-row: 1;
    /* border: 1px solid black; */

    /* border: 1px solid black; */
  }

  .grid_small div:nth-child(3) {
    grid-column: 8/11;
    grid-row: 1;
    /* border: 1px solid black; */

    /* border: 1px solid black; */
  }

  .grid_small > image {
    width: 100%;
  }

  .img3 {
    padding: 0;
  }

  .content {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 16pt;
    margin-top: 16pt;
    margin-left: 150px;
    margin-right: 150px;
    /* padding-top: 24pt; */
    margin-bottom: 16pt;
    /* border: 1px solid black;
    background-color: lightyellow; */
  }

  /* cards */
  .content div:nth-child(1) {
    grid-column: 1/12;
    grid-row: 1;
    /* border: 1px solid black;
    background-color: yellow; */
  }

  .content div:nth-child(2) {
    grid-column: 2/5;
    grid-row: 2;
    border: 1px solid black;
    background-color: yellow;
  }

  .content div:nth-child(3) {
    grid-column: 5/8;
    grid-row: 2;
    border: 1px solid black;
    background-color: yellow;
  }

  .content div:nth-child(4) {
    grid-column: 8/11;
    grid-row: 2;
    border: 1px solid black;
    background-color: yellow;
  }

  .container_grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    row-gap: 10pt;
    /* margin-left: 16pt;
    margin-right: 16pt; */
    margin-left: 150px;
    margin-right: 150px;
    /* border: 1px solid black; */
  }

  .section {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 4pt;
    margin-top: 16pt;
    margin-left: 150px;
    margin-right: 150px;
    /* padding-top: 24pt; */
    /* margin-bottom: 16pt; */
    /* border: 1px solid black; */
    /* background-color: lightblue; */
  }

  .section > div {
    grid-column: 1/12;
    grid-row: 1;
    /* border: 1px solid black; */
    /* background-color: yellow; */
    text-align: left;
    border-bottom: 1px solid blue;
    font-size: 1.25rem;
    line-height: 1.083;

    /* margin-left: 16pt; */
  }

  .sectioncopy {
    font-size: 1rem;
    /* border: 1px solid black; */
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 8pt;
    /* padding-bottom: 8pt; */
    margin-bottom: 16pt;
  }
}
