/* Style the list */
.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border-style: 1px solid;
  border-color: #919191 #ffffff #ffffff #ffffff; /* red top, green right, blue bottom and yellow left */
}

.breadcrumb {
  list-style: none;
  background-color: none;
  margin-top: 84pt;
  margin-left: 0pt;
  padding-left: 32px;
  text-align: left;
}

/* Display list items side by side */
.breadcrumb > li {
  display: inline;
  font-size: 16px;
}

/* Add a slash symbol (/) before/behind each list item */
.breadcrumb > li + li:before {
  padding: 8px;
  color: black;
  content: " \003E";
}

/* Add a color to all links inside the list */
.breadcrumb > li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
.breadcrumb > li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* styling for pokecard page */
.figureCard {
  display: flex;
  flex-flow: column;
  border-radius: 20px;
  margin-top: 16pt;
  margin-left: 16pt;
  margin-right: 16pt;
  justify-content: center;
}

.imgFig {
  width: 100%;
  height: auto;
  border: thin #c0c0c0 solid;
}

.figCap {
  text-align: left;
  padding-left: 16pt;
  padding-right: 16pt;
  font-style: italic;
}
/* end */

.img {
  border-radius: 10px;
  width: 100%;
  height: auto;
  margin-bottom: 16pt;
}

.imgShrink {
  border-radius: 20px;
  width: 100%;
  height: auto;
}

/* cards */
.content {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  gap: 16pt;
  margin-top: 16pt;
  margin-left: 16pt;
  margin-right: 16pt;
  margin-bottom: 16t;
  padding-left: 32px;
}

/* cards */
.content div:nth-child(1) {
  grid-column: 1/12;
  grid-row: 1;
}

.content div:nth-child(2) {
  grid-column: 2/5;
  grid-row: 2;
}

.content div:nth-child(3) {
  grid-column: 5/8;
  grid-row: 2;
}

.content div:nth-child(4) {
  grid-column: 8/11;
  grid-row: 2;
}

.section {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  gap: 4pt;
  margin-top: 16pt;
  margin-left: 16pt;
  margin-right: 16pt;
}

.section > div {
  grid-column: 1/12;
  grid-row: 1;
  text-align: left;
  border-bottom: 1px solid #599dd0;
  font-size: 1.25rem;
  line-height: 1.083;
}

.sectioncopy {
  display: flex;
  font-size: 1rem;
  margin-left: 16pt;
  margin-right: 16pt;
  padding-top: 8pt;
  margin-bottom: 16pt;
}

.sectionText {
  /* padding: 10pt; */
  padding-right: 10pt;
  padding-left: 0pt;
  padding-top: 10pt;
  padding-bottom: 10pt;
}

.figure {
  /* margin-left: 32px;
    margin-right: 32px; */
  /* margin-top: 32px; */
}

.figcaption {
  font-size: 12px;
  font-style: italic;
  text-align: left;
}

/* small tablet styles */
@media screen and (min-width: 620px) {
  .img {
    border-radius: 20px;
    width: 100%;
    /* margin-bottom: 8pt; */
  }

  .imgShrink {
    border-radius: 20px;
    width: 100%;
    height: auto;

    /* margin-top: 16pt; */
    /* border: 1px solid black; */
  }

  .content {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 16pt;
    margin-top: 16pt;
    margin-left: 24pt;
    margin-right: 24pt;
    margin-bottom: 16pt;
  }

  .figureCard {
    display: flex;
    flex-flow: row;
    border: thin #c0c0c0 solid;
    border-radius: 20px;
    margin-top: 16pt;
    margin-left: 24pt;
    margin-right: 24pt;
    justify-content: center;
  }

  .section {
    margin-left: 24pt;
    margin-right: 24pt;
  }

  .section > div {
    grid-column: 1/12;
    grid-row: 1;
    text-align: left;
    border-bottom: 1px solid #599dd0;
    font-size: 1.25rem;
    line-height: 1.083;
  }

  .sectioncopy {
    margin-left: 24pt;
    margin-right: 24pt;
  }

  .clearfix {
    overflow: auto;
  }
}

/* lg tablet styles */
@media screen and (min-width: 820px) {
  .figure {
    /* margin-left: 32px;
    margin-right: 32px; */
    /* margin-top: 32px; */
  }

  .img {
    border-radius: 20px;
  }

  .figcaption {
    font-size: 14px;
    font-style: italic;
    text-align: left;
  }

  .figureCard {
    display: flex;
    flex-flow: row;
    border: thin #c0c0c0 solid;
    border-radius: 20px;
    margin-top: 16pt;
    justify-content: center;
  }

  .imgFig {
    width: 100%;
    height: auto;
    border: thin #c0c0c0 solid;
    border-radius: 20px;
  }

  .figCap {
    text-align: left;
    margin-right: 24pt;
    font-style: italic;
    padding-top: 16pt;
    padding-left: 8pt;
  }

  .imgShrink {
    border-radius: 20px;
    width: 50%;
    height: auto;
  }

  .container {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    padding-top: 10pt;
  }

  .sectionText {
    margin-right: 20pt;
    margin-top: 0;
    padding-left: 0pt;
    padding-top: 0;
  }
}

/* lg tablet styles */
@media screen and (min-width: 1024px) {
  .figure {
    /* margin-left: 48pt;
    margin-right: 48pt; */
    /* margin-top: 32px; */
    /* border: 1px solid black; */
  }

  .figcaption {
    font-size: 14px;
    font-style: italic;
    text-align: left;
  }

  .figureCard {
    display: flex;
    flex-flow: row;
    border-radius: 20px;
    margin-top: 16pt;
    margin-left: 48pt;
    margin-right: 48pt;
    justify-content: center;
  }

  .imgFig {
    width: 100%;
    height: auto;
    border-radius: 20px;
    padding: 0;
    border: thin #c0c0c0 solid;
  }

  .figCap {
    text-align: left;
    margin-right: 24pt;
    font-style: italic;
    padding-top: 20pt;
    padding-left: 12pt;
  }

  .content {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 16pt;
    margin-top: 16pt;
    margin-left: 48pt;
    margin-right: 48pt;
    margin-bottom: 16pt;
  }

  .section {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 4pt;
    margin-top: 16pt;
    margin-left: 48pt;
    margin-right: 48pt;
  }

  .sectioncopy {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 48pt;
    margin-right: 48pt;
  }

  .sectionText {
    width: 100%;
    padding-right: 30pt;
    padding-top: 0;
  }

  .container {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    padding-top: 10pt;
  }

  .img {
    border-radius: 20px;
    width: 100%;
    height: auto;
  }

  .imgShrink {
    border-radius: 20px;
    width: 50%;
    height: auto;
  }

  .clearfix {
    overflow: auto;
  }
}

/* desktop styles */
@media screen and (min-width: 1200px) {
  .figureCard {
    display: flex;
    flex-flow: row;
    border: thin #c0c0c0 solid;
    border-radius: 20px;
    margin-left: 112pt;
    margin-right: 112pt;
    justify-content: center;
  }

  .imgFig {
    width: 100%;
    height: auto;
    border: thin #c0c0c0 solid;
  }

  .figCap {
    text-align: left;
    margin-right: 28pt;
    font-style: italic;
    padding-top: 30pt;
    padding-left: 0;
  }

  .content {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 16pt;
    margin-top: 16pt;
    margin-left: 112pt;
    margin-right: 112pt;
    margin-bottom: 16pt;
  }

  /* cards */
  .content div:nth-child(1) {
    grid-column: 1/12;
    grid-row: 1;
  }

  .content div:nth-child(2) {
    grid-column: 2/5;
    grid-row: 2;
  }

  .content div:nth-child(3) {
    grid-column: 5/8;
    grid-row: 2;
  }

  .content div:nth-child(4) {
    grid-column: 8/11;
    grid-row: 2;
  }

  .section {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 4pt;
    margin-top: 16pt;
    margin-left: 112pt;
    margin-right: 112pt;
  }

  .section > div {
    grid-column: 1/12;
    grid-row: 1;
    text-align: left;
    border-bottom: 1px solid #599dd0;
    font-size: 1.25rem;
    line-height: 1.083;
  }

  .sectioncopy {
    font-size: 1rem;
    margin-left: 112pt;
    margin-right: 112pt;
    padding-top: 8pt;
    margin-bottom: 16pt;
  }

  .sectionText {
    width: 100%;
    padding-right: 30pt;
    padding-top: 0;
  }

  .imgShrink {
    border-radius: 20px;
    width: 50%;
    height: auto;
  }
}
