.main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  padding-top: 8rem;
  /* padding-bottom: 2rem; */
  padding-right: 4rem;
  padding-left: 4rem;
  /* margin-bottom: 4rem; */
  min-height: 100vh;
  border: 1px solid red;
}

.title {
  /* background-color: #1847d7; */
  background-color: #1c4cbd;
  color: white;
  height: 100px;
  width: 100%;
  padding: 1rem;
  margin: 2rem;
  margin-top: 0;
  border-radius: 15px;
  border: 1px solid black;
}

.container {
  display: flex;
  background-color: #1c4cbd;
  height: 400px;
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 15px;
}

.row {
  border: 1px solid blue;
  width: 100%;
  display: flex;
}

.col {
  border: 1px solid green;
  color: black;
  padding-left: 5rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  /* text-align: center; */
}

.item {
  padding-left: 2rem;
  /* padding-top: 2rem; */
  /* text-align: center; */
}

.div {
  height: 350px;
  width: auto;
  padding-left: 14rem;
  padding-top: 0rem;
  /* padding-bottom: 2rem; */
  /* padding-top: 1rem; */
  text-align: left;

  /* justify-content: flex-end; */
  border: solid 1px black;
  background-color: orange;
}
