.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border-style: 1px solid;
  border-color: #919191 #ffffff #ffffff #ffffff; /* red top, green right, blue bottom and yellow left */
}

.breadcrumb {
  list-style: none;
  background-color: none;
  margin-top: 84pt;
  margin-left: 0pt;
  text-align: left;
}

/* Display list items side by side */
.breadcrumb > li {
  display: inline;
  font-size: 16px;
}

/* Add a slash symbol (/) before/behind each list item */
.breadcrumb > li + li:before {
  padding: 8px;
  color: black;
  content: " \003E";
}

/* Add a color to all links inside the list */
.breadcrumb > li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
.breadcrumb > li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* Small devices mobile min 430px */
/* main content */
.welcome {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 24pt;
  margin-right: 24pt;
  padding-top: 24pt;
  margin-bottom: 24pt;
  row-gap: 10pt;
}

.welcome > image {
  max-width: 100%;
}

.welcome > div {
  text-align: left;
}

.img {
  border-radius: 20px;
  width: 100%;
  height: auto;
}

/* Contact Me Form */
.contact {
  padding-left: 24pt;
  padding-right: 24pt;
  padding-bottom: 24pt;
  padding-top: 24pt;
  background-color: #fafafa;
}

/* Credit artist */
.figure {
  margin-left: 16px;
  margin-right: 16px;
}

.figcaption {
  font-size: 12px;
  text-align: center;
}

/* Medium devices tablets */
@media screen and (min-width: 820px) {
  .welcome {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 24pt;
    margin-right: 24pt;
    padding-top: 24pt;
    margin-bottom: 24pt;
  }

  .welcome > image {
    max-width: 100%;
    padding: 0;
  }

  .welcome > div {
    text-align: left;
    padding-right: 15pt;
  }

  .alignimg {
    width: 80%;
    margin: auto;
  }

  .img {
    border-radius: 20px;
    width: 80%;
    height: auto;
  }

  .img {
    border-radius: 20px;
    width: 80%;
    height: auto;
    margin-bottom: 8pt;
  }

  /* Contact Me Form */
  .contact {
    margin-left: 24pt;
    margin-right: 24pt;
    margin-bottom: 24pt;
    margin-top: 12pt;
    background-color: #fafafa;
  }

  /* large background - bg for the form*/
  .lgbg {
    background-color: #fafafa;
  }

  /* Credit artist */
  .figure {
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 32px;
  }

  .figcaption {
    font-size: 14px;
    text-align: right;
  }
}

/* Large devices and desktop */
@media screen and (min-width: 1024px) {
  .welcome {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 52pt;
    padding-top: 30pt;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 38pt;
  }

  .img {
    padding: 0;
    width: 100%;
    height: auto;
  }

  .welcome > image {
    max-width: 100%;
  }

  .welcome > div {
    text-align: left;
    padding-bottom: 0;
    padding-left: 0;
  }

  .contact {
    margin-left: 44pt;
    margin-right: 24pt;
    margin-bottom: 24pt;
  }

  .figure {
    margin-left: 64px;
    margin-right: 64px;
    margin-top: 32px;
  }

  .figcaption {
    font-size: 12px;
    font-style: italic;
    text-align: right;
  }
}

/* large desktop */
@media screen and (min-width: 1200px) {
  .welcome {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 52pt;
    padding-top: 30pt;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 38pt;
  }

  .img {
    padding: 0;
  }

  .welcome > image {
    max-width: 100%;
  }

  .welcome > div {
    text-align: left;
    padding-bottom: 0;
  }

  .figure {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 32px;
  }

  .figcaption {
    font-size: 12px;
    font-style: italic;

    text-align: center;
  }
}
