.main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  padding-top: 8rem;
  /* padding-bottom: 2rem; */
  padding-right: 4rem;
  padding-left: 4rem;
  /* margin-bottom: 4rem; */
  min-height: 100vh;
  border: 1px solid red;
}

.title {
  /* background-color: #1847d7; */
  background-color: #1c4cbd;
  color: white;
  height: 100px;
  width: 100%;
  padding: 1rem;
  margin: 2rem;
  margin-top: 0;
  border-radius: 15px;
}
