/* Style the list */

.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: none;
  margin-top: 84pt;
}

/* Display list items side by side */
.breadcrumb > li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
.breadcrumb > li + li:before {
  padding: 8px;
  color: black;
  content: " \003E";
}

/* Add a color to all links inside the list */
.breadcrumb > li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
.breadcrumb > li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  padding-top: 8rem;
  /* padding-bottom: 2rem; */
  padding-right: 4rem;
  padding-left: 4rem;
  /* margin-bottom: 4rem; */
  min-height: 100vh;
  border: 1px solid red;
}

.title {
  /* background-color: #1847d7; */
  /* background-color: #1c4cbd; */
  color: black;
  font-size: 30px;
  text-align: center;
  height: 100px;
  width: 100%;
  /* padding: 1rem;
  margin: 2rem;
  margin-top: 0;
  border-radius: 15px; */
}

.item {
  background-color: #ffffff;
}

.img {
  float: right;
  margin: 0 0 0 15px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
