/* variables */
:root {
  --primary: #ffc636; /*theme colour*/
  --secondary: white;
}

/* resets */
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
li {
  list-style-type: none;
}

/* base styles */
body {
  background: var(--secondary);
  overflow-x: hidden; /*push elements off the screen but eliminate scroll bar */
}
.button {
  background: none;
  border: 2px solid var(--primary);
  color: var(--primary);
  padding: 6px 12px;
  border-radius: 20px;
  text-transform: uppercase;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
  display: inline-block;
}
.button:hover {
  color: #222;
  background: var(--primary);
}
input, /*filling in form*/
textarea {
  background: rgba(255, 255, 255, 0.05);
  padding: 10px 16px;
  border-radius: 20px;
  border: 2px solid #9893d8;
  color: #f2f2f2;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: underline;
}

/* fonts */
@font-face {
  font-family: "Rubik Regular";
  src: url("../public/assets/fonts/Rubik-Regular.ttf");
}
h1,
h2,
h3,
h4 {
  color: #dddbff;
  font-weight: normal;
}
p,
a,
li {
  color: #9893db;
}
h1,
h3 {
  font-size: 1.2em; /*multiple px by 1.2 per media query*/
}
h2 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.1em;
}
/*
.leading{
  font-size: 1.1em;
}*/

/* mobile styles */

/* Mobile */
/* @media (max-width: ) {
.projects {

} */

/* small tablet styles */
@media screen and (min-width: 620px) {
  .projects {
  }
}

/* lg tablets & laptop styles */
@media screen and (min-width: 960px) {
  body {
    font-size: 18px;
  }

  .projects {
  }
}

/* desktop styles */
@media screen and (min-width: 1200px) {
  body {
    font-size: 20px;
  }
  .projects {
  }
}
