/* Mobile first 430 */

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border-style: 1px solid;
  border-color: #919191 #ffffff #ffffff #ffffff; /* red top, green right, blue bottom and yellow left */
}

.img {
  border-radius: 20px;
}

.welcome {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 84pt;
  margin-left: 24pt;
  margin-right: 24pt;
  padding-top: 24pt;
  margin-bottom: 24pt;
}

.welcome > image {
  max-width: 100%;
}

.welcome > div {
  text-align: left;
  padding-bottom: 24pt;
}

/* .welcome a:nth-child(1) {
  grid-column: 2/6;
  grid-row: 1;
  padding: 48pt;
} */

/* .welcome a:nth-child(2) {
  grid-column: 6/11;
  grid-row: 1;
} */

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #fafafa;
  align-content: center;
  row-gap: 20px;
  min-width: 0;
  padding-top: 24pt;
  padding-bottom: 24pt;
}

.projects > image {
  /* max-width: 100%; */
}

.projects div:nth-child(1) {
  /* grid-column: 2/5;
  grid-row: 1; */
}

.projects div:nth-child(2) {
  /* grid-column: 5/8;
  grid-row: 1; */
}

.projects div:nth-child(3) {
  /* grid-column: 8/11;
  grid-row: 1; */
  /* margin-bottom: 48pt; */
}

.projectimg {
  margin-left: 24pt;
  margin-right: 24pt;
  max-width: 100%;
  min-width: 0;
  margin-bottom: 24pt;
  margin-top: 24pt;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.img1 {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.projecttext {
  padding-top: 12pt;
  padding-left: 10pt;
  padding-right: 10pt;
  background: white;
  height: 100px;
  line-height: normal;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

/* button box if needed*/
.button {
  background: white;
  height: 50px;
  display: flex;
  padding-bottom: 12pt;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 10pt;
}

.b {
  background-color: #599dd0;
  border: none;
  color: #fff;
  font-weight: 500;
  border-radius: 8px;
  padding-left: 10pt;
  padding-right: 10pt;
}

.scrollingwrapper {
  /* overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  gap: 8pt;
  background-color: hotpink;
  display: inline-block; */
}

.figure {
  padding-left: 24pt;
  padding-right: 24pt;
  background-color: #fafafa;
}

.figcaption {
  font-size: 12px;
  background-color: #fafafa;
}

/* small tablet styles */
@media screen and (min-width: 620px) {
  .welcome {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 84pt;
    margin-left: 24pt;
    margin-right: 24pt;
    padding-top: 24pt;
    margin-bottom: 24pt;
  }

  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #fafafa;
    align-content: center;
    row-gap: 20px;
    min-width: 0;
    padding-top: 24pt;
    padding-bottom: 24pt;
  }

  .projects > image {
    /* max-width: 100%;
    max-height: 100%; */
  }

  .projects > div {
    /* text-align: center;
    margin-top: 24pt;
    margin-bottom: 24pt; */
    /* background-color: yellow; */
    /* margin-top: 16pt;
    margin-bottom: 24pt; */
    /* text-align: left; */
    /* border: 1px solid black; */
  }

  .projectimg {
    width: 425px;
    margin-left: 24pt;
    margin-right: 24pt;
    max-width: 100%;
    min-width: 0;
    margin-bottom: 24pt;
    margin-top: 24pt;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

  .img1 {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

  .projecttext {
    padding-top: 12pt;
    padding-left: 10pt;
    padding-right: 10pt;
    background: white;
    height: 100px;
    line-height: normal;
  }

  .button {
    background: white;
    height: 50px;
    display: flex;
    padding-bottom: 12pt;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 10pt;
  }

  .b {
    background-color: #599dd0;
    border: none;
    color: #fff;
    font-weight: 500;
    border-radius: 8px;
    padding-left: 10pt;
    padding-right: 10pt;
  }
}

/* md to lg tablets 820px */
@media screen and (min-width: 820px) {
  .welcome {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 84pt;
    margin-left: 24pt;
    margin-right: 24pt;
    padding-top: 24pt;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 24pt;
  }

  .welcome > image {
    max-width: 100%;
  }

  .welcome > div {
    text-align: left;
    padding-bottom: 0;
    padding-left: 15pt;
    padding-right: 15pt;
  }

  /* .welcome div:nth-child(1) {
    grid-column: 2/6;
    grid-row: 1;
  }

  .welcome div:nth-child(2) {
    grid-column: 7/11;
    grid-row: 1;
  } */

  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #fafafa;
    align-content: center;
    margin: 0px;
    row-gap: 20px;
    min-width: 0;
    padding-top: 24pt;
    padding-bottom: 24pt;
  }

  .projects > image {
    /* max-width: 100%; */
  }

  .projects > div {
    /* margin-top: 32pt;
    margin-bottom: 24pt;
    text-align: left; */
  }

  .projectimg {
    min-width: 0;
    width: 300px;
    margin-top: 24pt;
    margin-bottom: 24pt;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

  .img1 {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

  .projecttext {
    padding-top: 12pt;
    padding-left: 10pt;
    padding-right: 10pt;
    background: white;
    height: 100px;
    line-height: normal;
  }

  .button {
    background: white;
    height: 50px;
    display: flex;
    padding-bottom: 12pt;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 10pt;
  }

  .b {
    background-color: #599dd0;
    border: none;
    color: #fff;
    font-weight: 500;
    border-radius: 8px;
    padding-top: 5pt;
    padding-bottom: 5pt;
    padding-left: 10pt;
    padding-right: 10pt;
    margin-left: 0;
  }

  .figure {
    padding-left: 40pt;
    padding-right: 40pt;
    background-color: #fafafa;
  }

  .figcaption {
    font-size: 12px;
    background-color: #fafafa;
  }
}

/* lg tablets & laptop */
@media screen and (min-width: 1024px) {
  .welcome {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 84pt;
    margin-left: 34pt;
    margin-right: 34pt;
    padding-top: 24pt;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 24pt;
  }

  .img {
    padding: 0;
  }

  .welcome > image {
    max-width: 100%;
  }

  .welcome > div {
    text-align: left;
    padding-bottom: 0;
    padding-left: 15pt;
    padding-right: 15pt;
  }

  .welcome div:nth-child(1) {
    /* grid-column: 2/6;
    grid-row: 1; */
  }

  .welcome div:nth-child(2) {
    /* grid-column: 7/11;
    grid-row: 1; */
  }

  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fafafa;
    align-content: center;
    margin: 0px;
    row-gap: 20px;
    min-width: 0;
    padding-top: 24pt;
    padding-bottom: 24pt;
    padding-right: 24pt;
    padding-left: 24pt;
  }

  .projects > image {
    /* max-width: 100%; */
  }

  .projects > div {
    /* margin-top: 32pt;
    margin-bottom: 24pt;
    text-align: left; */
  }

  /* .projects div:nth-child(1) {
    grid-column: 2/5;
    grid-row: 1;
  }

  .projects div:nth-child(2) {
    grid-column: 5/8;
    grid-row: 1;
  } */

  /* .projects div:nth-child(3) {
    grid-column: 8/11;
    grid-row: 1; }*/

  .projectimg {
    width: 250px;
    margin-top: 24pt;
    margin-bottom: 24pt;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

  .img1 {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

  .projecttext {
    background: white;
    height: 100px;
  }

  .button {
    background: white;
    height: 50px;
    display: flex;
    padding-bottom: 12pt;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .b {
    background-color: #599dd0;
    border: none;
    color: #fff;
    font-weight: 500;
    border-radius: 8px;
    padding-left: 10pt;
    padding-right: 10pt;
    margin-left: 0;
  }

  .figure {
    padding-left: 52pt;
    padding-right: 52pt;
    background-color: #fafafa;
  }

  .figcaption {
    font-size: 12px;
    background-color: #fafafa;
  }
}

/* desktop styles */
@media screen and (min-width: 1200px) {
  .welcome {
    display: grid;
    /* grid-template-columns: repeat(11, 1fr); */
    grid-template-columns: 1fr 1fr;
    margin-top: 84pt;
    margin-left: 52pt;
    margin-right: 52pt;
    padding-top: 30pt;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 38pt;
  }

  .welcome > image {
    max-width: 100%;
  }

  .img {
    padding: 0;
  }

  .welcome > a {
    text-align: left;
  }

  .welcome a:nth-child(1) {
    grid-column: 2/5;
    grid-row: 1;
  }

  .welcome a:nth-child(2) {
    grid-column: 5/11;
    grid-row: 1;
  }

  /*  */
  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fafafa;
    align-content: center;
    margin: 0px;
    row-gap: 20px;
    min-width: 0;
    padding-top: 24pt;
    padding-bottom: 24pt;
    padding-right: 40pt;
    padding-left: 40pt;
  }

  .projects > image {
    /* max-width: 100%; */
  }

  .projectimg {
    width: 300px;
    margin-top: 24pt;
    margin-bottom: 24pt;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

  .img1 {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

  .projecttext {
    background: white;
    height: 100px;
  }

  .button {
    background: white;
    height: 50px;
    display: flex;
    padding-bottom: 12pt;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .b {
    background-color: #599dd0;
    border: none;
    color: #fff;
    font-weight: 500;
    border-radius: 8px;
    padding-left: 10pt;
    padding-right: 10pt;
    margin-left: 0;
  }

  .figure {
    padding-left: 64pt;
    padding-right: 64pt;
    background-color: #fafafa;
  }

  .figcaption {
    font-size: 12px;
    background-color: #fafafa;
  }
}
