.breadcrumb {
  /* padding: 10px 16px; */
  list-style: none;
  background-color: none;
  margin-top: 84pt;
  margin-left: 0pt;
  text-align: left;
}

/* Display list items side by side */
.breadcrumb > li {
  display: inline;
  font-size: 16px;
}

/* Add a slash symbol (/) before/behind each list item */
.breadcrumb > li + li:before {
  padding: 8px;
  color: black;
  content: " \003E";
}

/* Add a color to all links inside the list */
.breadcrumb > li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
.breadcrumb > li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin-top: 24pt;
  margin-left: 24pts;
  margin-right: 24pt;
  margin-bottom: 24pt;
  border: 1px solid black;
}

.grid > div {
  text-align: left;
  padding: 24pt;
  border: 1px solid black;
  margin: 24pt;
}

@media screen and (min-width: 620px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 76pt;
    margin-left: 24pt;
    margin-right: 24pt;
    padding-top: 24pt;
    margin-bottom: 24pt;
  }

  .grid > div {
    text-align: left;
    padding: 24pt;
    border: 1px solid black;
    margin: 24pt;
  }

  .grid > div:nth-child(1) {
    grid-column: 1/6;
    grid-row: 1;
  }

  .grid > div:nth-child(2) {
    grid-column: 6/12;
    grid-row: 1;
  }
}
